<a [routerLink]="['/']">
  <h4>Dashboard</h4>
</a>
<a [routerLink]="['/membres']">
  <h4>Membres</h4>
</a>
<a [routerLink]="['/pasteurs']">
  <h4>Pasteurs</h4>
</a>
<a [routerLink]="['/baptemes']">
  <h4>Baptemes</h4>
</a>

<!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                            Membres
                            <b class="caret"></b>
                        
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="membre">Nouveau Membre</a></li>
                        <li><a href="#">Editer</a></li>
                        <li><a href="#">Effacer</a></li>
                        <li><a href="#">Lister</a></li>
                        
                    </ul>
</li>
-->
<a routerLink="/cart" class="button fancy-button"
  ><i class="material-icons">shopping_cart</i>Checkout</a
>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
